*{
	font-family: "Segoe UI" !important;
}
.theme-dark {
	--header-primary: #FFFFFF;
	--header-secondary: #8E9297;
	--text-normal: #FFFFFF;
	--text-muted: #8E9297;
	--text-link: hsl(200,calc(var(--saturation-factor, 1)*100%),50%);
	--text-link-low-saturation: hsl(200,calc(var(--saturation-factor, 1)*100%),50%);
	--text-positive: hsl(125,calc(var(--saturation-factor, 1)*50%),50%);
	--text-warning: hsl(50,calc(var(--saturation-factor, 1)*95%),50%);
	--text-danger: hsl(350,calc(var(--saturation-factor, 1)*75%),50%);
	--text-brand: hsl(225,calc(var(--saturation-factor, 1)*75%),75%);
	--interactive-normal: #B9BBBE;
	--interactive-hover: #784040;
	--interactive-active: #F08080;
	--interactive-muted: #737373;
	--background-primary: #393939;
	--background-secondary: #212021;
	--background-secondary-alt: #212021;
	--background-tertiary: #212021;
	--background-accent: #F08080;
	--background-floating: #212021;
	--background-nested-floating: #393939;
	--background-mobile-primary: #393939;
	--background-mobile-secondary: #212021;
	--background-modifier-hover: rgba(125,85,90,0.25);
	--background-modifier-active: rgba(125,85,90,1);
	--background-modifier-selected: rgba(125,85,90,0.25);
	--background-modifier-accent: hsla(0,50%,50%,0.5);
	--info-positive-text: #FFFFFF;
	--info-warning-text: #FFFFFF;
	--info-danger-text: #FFFFFF;
	--info-help-background: hsla(200,calc(var(--saturation-factor, 1)*100%),50%,0.1);
	--info-help-foreground: hsl(200,calc(var(--saturation-factor, 1)*100%),50%);
	--info-help-text: #FFFFFF;
	--status-warning-text: #000000;
	--scrollbar-thin-thumb: #393939;
	--scrollbar-thin-track: transparent;
	--scrollbar-auto-thumb: #F08080;
	--scrollbar-auto-track: hsl(200,calc(var(--saturation-factor, 1)*10%),25%);
	--scrollbar-auto-scrollbar-color-thumb: #393939;
	--scrollbar-auto-scrollbar-color-track: #212021;
	--elevation-stroke: 0 0 0 1px rgba(5,5,5,0.15);
	--elevation-low: 0 1px 0 rgba(5,5,5,0.2),0 1.5px 0 rgba(5,5,5,0.05),0 2px 0 rgba(5,5,5,0.05);
	--elevation-medium: 0 4px 4px rgba(0,0,0,0.15);
	--elevation-high: 0 8px 16px rgba(0,0,0,0.25);
	--logo-primary: #FFFFFF;
	--control-brand-foreground: hsl(235,calc(var(--saturation-factor, 1)*75%),75%);
	--control-brand-foreground-new: hsl(235,calc(var(--saturation-factor, 1)*75%),75%);
	--background-mentioned: hsla(40,calc(var(--saturation-factor, 1)*95%),50%,0.1);
	--background-mentioned-hover: hsla(40,calc(var(--saturation-factor, 1)*95%),50%,0.1);
	--background-message-hover: rgba(5,5,5,0.075);
	--channels-default: #8E9297;
	--guild-header-text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	--channeltextarea-background: #212021;
	--activity-card-background: #393939;
	--textbox-markdown-syntax: #8E9297;
	--spoiler-revealed-background: #8E9297;
	--spoiler-hidden-background: #393939;
	--deprecated-card-bg: rgba(32,34,37,0.6);
	--deprecated-card-editable-bg: rgba(32,34,37,0.3);
	--deprecated-store-bg: #393939;
	--deprecated-quickswitcher-input-background: #393939;
	--deprecated-quickswitcher-input-placeholder: hsla(0,0%,100%,0.3);
	--deprecated-text-input-bg: rgba(0,0,0,0.1);
	--deprecated-text-input-border: rgba(0,0,0,0.3);
	--deprecated-text-input-border-hover: #784040;
	--deprecated-text-input-border-disabled: #737373;
	--deprecated-text-input-prefix: #F08080;
}